

/Flask Learning/CRUD_with_SQLAlchemy/instance
/Flask Learning/USER_AUTHENTICATION/app/db.sqlite3
/Flask Learning/USER_AUTHENTICATION/migrations/
/Flask Learning/CRUD_with_MYSQL/venv/
/Flask Learning/Hostel-Management-CLI/__pycache__/